@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


* {
    font-family: "Inter";
    color: white;
    margin: 0px;
}

.descriptiveText{
    color: rgb(114, 114, 114);
    padding-top: 5px;
}


/* -----------------navbar----------------- */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    padding-left: 30px;
}

.navItems {
    padding: 10px;
}

.home {
    background-color: #E6533C;
    padding: 5px 15px;
    border-radius: 15px;
}

.name {
    color: #E6533C;
    font-size: 35px;
}


/* -------------------header------------------- */

header{
    background-color: #000000e5;
    padding: 20px 20px 0px 20px;
}

.bannerMainText{
    font-weight: 800;
    font-size: 55px;
    line-height: 1;
    margin: 0;
}

.miama{
    font-family: "miama";
    font-size: 40px;
    font-weight: 100;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 40px;
}

.bannerText{
    width: 50%;
}

.bannerImg{
    width: 50%;
    float: inline-end;
    margin-right: 40%;
}

.joinNow, .downloadApp{
    background-color: #303030;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    margin: 20px 0;
}

.joinNow{
    background-color: #E6533C;
    margin-right: 10px;
}

.circle{
    width: 30px;
    border-radius: 30px;
    height: 30px;
    display: inline-block;
    background-color: #E6533C;
}

.summaryButtons{
    position: relative;
    height: 300px;
}

.freeWorkoutVideos{
    width: 130px;
    position: absolute;
    right: 0%;
    top: 20%;
    background-color: #303030;
    padding: 10px;
    border-radius: 20px;
}

.videoTutorial{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 130px;
    position: absolute;
    left: -5%;
    bottom: 20%;
    background-color: #303030;
    padding: 10px;
    border-radius: 20px;
}

.vt, .fwv{
    font-weight: 900;
    font-size: 20px;
}


/* -----------------main------------------ */

main{
    background: black;
    text-align: center;
    padding: 50px 0;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.cards h6{
    padding-top: 10px;
    font-size: 18px;
}

.changeYourHabit{
    font-size: 40px;
}

.cardImg img{
    width: 100px;
    border-radius: 50%;
}

.changeYourHabitcard{
    width: 280px;
}


/* -----------------extra Mile------------------ */

.extraMile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 0 50px;
    background-color: #303030;
    border-radius: 20px;
    height: 200px;
}

.extraMileImg img{
    border-radius: 10px;
    object-fit: fill;
    width: 250px;
    height: 200px;
}

.extraMileTexts, .extraMileImg{
    width: 46%;
}

.extraMileTexts{
    text-align: left;
}


/* --------------traing & excercise------------- */

.trainingExcercise{
    padding: 80px 40px 40px 40px;
    text-align: left;
}

.excerciseImagesBgProperties{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.excerciseImagesGroup1{
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 180px;
}

.excerciseImagesBg-1{
    background-image : linear-gradient(rgba(31, 143, 27, 0.5)), url("./images/exercise1.jpg");
    background-position: center;
}
.excerciseImagesBg-2{
    background-image: linear-gradient(rgba(143, 60, 27, 0.5)), url("./images/exercise2.png");
    object-fit: contain;
}
.excerciseImagesBg-3{
    background-image: linear-gradient(rgba(36, 35, 36, 0.753)), url("./images/exercise3.png");
}

.excerciseImagesGroup2{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    height: 180px;
    padding: 0 40px;
}
.excerciseImagesBg-4{
    background-image: linear-gradient(rgba(196, 50, 196, 0.281)), url("./images/exercise4.png");
}
.excerciseImagesBg-5{
    background-image: linear-gradient(rgba(148, 150, 49, 0.438)), url("./images/exercise5.jpg");
}
.excerciseImagesBg-6{
    background-image: linear-gradient(rgba(40, 146, 179, 0.479)), url("./images/exercise6.jpg");
}

.excerciseImageText0{
    color: black;
}
.excerciseImageText0, .excerciseImageText1{
    position: absolute;
    left: 2%;
    bottom: 2%;
    font-size: 14px;
}
.excerciseImageText2{
    position: absolute;
    left: 2%;
    top: 2%;
    font-size: 14px;
}


/* ---------------bmi calculator---------------- */

.bmiCalculator{
    padding: 80px 40px 40px 40px;
    text-align: left;
    margin: auto;
    width: 600px;
}

.bmiCalculatorChart{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #303030;
    width: 100%;
    padding: 40px 40px 80px 40px;
}

.bmicalculation, .bmiChart{
    width: 35%;
}

.table{
    width: 90%;
    margin: auto;
}

table, th, tr, td{
    border: 1px solid #6e6d6d;
    border-collapse: collapse;
    line-height: 3;
}

caption{
    font-size: 25px;
    font-weight: 800;
}

td{
    width: 200px;
    color: #cac9c9;
}

.bmiDataInput1{
    grid-area: height;
}
.bmiDataInput2{
    grid-area: weight;
}
.bmiDataInput3{
    grid-area: age;
}
.bmiDataInput4{
    grid-area: sex;
}
.bmiDataInput5{
    grid-area: factor;
}

.bmiInputs{
    display: grid;
    grid-template-areas:
    "height weight"
    "age sex"
    "factor factor"
    "calculate calculate";
    gap: 10px;
    padding: 20px 20px 0 20px;
}

.bmiCalculationInput{
    background-color: #303030;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #414040;
}

#calculate{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
    border-top: 0;
}

.calculate{
    background-color: #E6533C;
    border: none;
    padding: 12px 40px;
    border-radius: 60px;
}


/* -----------------meet out team----------------- */

.meetOurTeam{
    text-align: center;
}

.meetOurTeamImages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    width: 1080px;
    padding: 15px;
    gap: 10px;
    margin: auto;
    background-color: #303030;
    border-radius: 30px;
}

.meetOurTeamImage1{
    background-image: linear-gradient(rgba(43, 43, 42, 0.219)), url("./images/trainer1.png");
}
.meetOurTeamImage2{
    background-image: linear-gradient(rgba(61, 60, 59, 0.219)), url("./images/trainer2.png");
}
.meetOurTeamImage3{
    background-image: linear-gradient(rgba(61, 60, 59, 0.219)), url("./images/trainer3.png");
}
.meetOurTeamImage4{
    background-image: linear-gradient(rgba(61, 60, 59, 0.219)), url("./images/trainer4.png");
}
.meetOurTeamImage5{
    background-image: linear-gradient(rgba(61, 60, 59, 0.219)), url("./images/trainer5.png");
}
.meetOurTeamImage6{
    background-image: linear-gradient(rgba(61, 60, 59, 0.219)), url("./images/trainer6.png");
}

.meetOurTeamImage{
    width: 350px;
    height: 300px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
}

.trainer{
    color: rgb(226, 223, 223);
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.meetOurTeamImage h4{
    position: absolute;
    bottom: 20px;
    left: 10px;
}